<div class="evolution">
  <div class="container">
    <div class="align-center">
      <h1 class="evolution_headline">{{headline}}</h1>
    </div>
    <div class="evolution_left-part left">
      <div class="show-differences">
        <p class="show-differences_headline">Показывать только отличия?</p>
        <div class="show-differences_button-wrap">
          <button (click)="hideOptions()" class="show-differences_btn yes" type="button">Да</button>
          <button (click)="showOptions()" class="show-differences_btn no" type="button">Нет</button>
        </div>
      </div>
      <div class="main-settings">
        <h2 class="main-settings_headline">Основные параметры:</h2>
      </div>
      <ul class="main-settings_wrap">
        <li class="main-settings_item">Пробег</li>
        <li class="main-settings_item">Кузов</li>
        <li class="main-settings_item">Двигатель</li>
        <li class="main-settings_item">Привод</li>
      </ul>
      <div class="equipment">
        <h2 class="equipment_headline">Комплектация:</h2>
        <h3 class="equipment_sub-headline">Комфорт</h3>
      </div>
      <ul class="equipment_wrap">
        <li *ngIf="!isHideClimateControl" class="equipment_item">Климат-контроль</li>
        <li *ngIf="!isHideConditioner" class="equipment_item">Кондиционер</li>
        <li *ngIf="!isHideAlloyWheels" class="equipment_item">Литые диски</li>
        <li *ngIf="!isHideMultiWheel" class="equipment_item">Мультируль</li>
        <li *ngIf="!isHideParktronic" class="equipment_item">Парктроник</li>
      </ul>
      <div class="security">
        <h3 class="security_headline">Безопасность</h3>
      </div>
      <ul class="security_wrap">
        <li *ngIf="!isHideAbs" class="security_item">ABS</li>
        <li *ngIf="!isHideAlarm" class="security_item">Сигнализация</li>
      </ul>
      <div class="advantages">
        <h2 class="advantages_headline">Преимущества:</h2>
      </div>
      <ul class="advantages_wrap">
        <li *ngIf="!isHideFullServiceHistroy" class="advantages_item">100% история обслуживания</li>
        <li *ngIf="!isHideAsterPlusExpert" class="advantages_item">Aster Plus Expert</li>
      </ul>
      <div class="car-salon">
        <h2 class="car-salon_headline">Автомобиль в салоне:</h2>
      </div>
      <ul class="car-salon_wrap">
        <li class="car-salon_item">Салон</li>
        <li class="car-salon_item">Время работы</li>
        <li class="car-salon_item">Телефон</li>
      </ul>
      <div class="purchase-options">
        <h3 class="purchase-options_headline">Варианты покупки:</h3>
      </div>
    </div>
    <div class="evolution_right-part right">
      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let car of cars" class="slide">
            <div class="evolution_slide-wrap">
              <div class="carousel_img-wrap">
                <img class="carousel_car-photo" src="{{car.imgUrl}}" alt="{{car.modelName}}">
              </div>
              <div class="car-description">
                <h2 class="car-description_name">{{car.modelName}}</h2>
                <div class="car-description_prices">
                  <h4 class="car-description_prices-old">{{car.oldPrice}}</h4>
                  <h3 class="car-description_prices-current">{{car.currentPrice}}</h3>
                </div>
              </div>
            </div>
            <ul class="slide-main-settings_wrap">
              <li class="slide-main-settings_item">{{car.mileage}}</li>
              <li class="slide-main-settings_item">{{car.carcase}}</li>
              <li class="slide-main-settings_item">{{car.engine}}</li>
              <li class="slide-main-settings_item">{{car.driveUnit}}</li>
            </ul>
            <ul class="slide-equipment_wrap">
              <li *ngIf="!isHideClimateControl" class="slide-equipment_item">
                <div *ngIf="car.climateControl === true" class="yeap"></div>
              </li>
              <li *ngIf="!isHideConditioner" class="slide-equipment_item">
                <div *ngIf="car.conditioner === true" class="yeap"></div>
              </li>
              <li *ngIf="!isHideAlloyWheels" class="slide-equipment_item">
                <div *ngIf="car.alloyWheels === true" class="yeap"></div>
              </li>
              <li *ngIf="!isHideMultiWheel" class="slide-equipment_item">
                <div *ngIf="car.multiWheel === true" class="yeap"></div>
              </li>
              <li *ngIf="!isHideParktronic" class="slide-equipment_item">
                <div *ngIf="car.parktronic === true" class="yeap"></div>
              </li>
            </ul>
            <ul class="slide-security_wrap">
              <li *ngIf="!isHideAbs" class="slide-security_item">
                <div *ngIf="car.abs === true" class="yeap"></div>
              </li>
              <li *ngIf="!isHideAlarm" class="slide-security_item">
                <div *ngIf="car.alarm === true" class="yeap"></div>
              </li>
            </ul>
            <ul class="slide-advantages_wrap">
              <li *ngIf="!isHideFullServiceHistroy" class="slide-advantages_item">
                <div *ngIf="car.fullServiceHistroy === true" class="yeap"></div>
              </li>
              <li *ngIf="!isHideAsterPlusExpert" class="slide-advantages_item">
                <div *ngIf="car.asterPlusExpert === true" class="yeap"></div>
              </li>
            </ul>
            <ul class="slide-car-salon_wrap">
              <li class="slide-car-salon_item">{{car.salon}}</li>
              <li class="slide-car-salon_item">{{car.workingHours}}</li>
              <li class="slide-car-salon_item">{{car.phone}}</li>
            </ul>
            <div class="slide-buy">
              <button class="slide-buy_btn" type="button" (click)="showInfo(car.modelName)">Купить</button>
            </div>
        </div>
      </ngx-slick>
    </div>
    <div class="clear"></div>
  </div>
</div>
