// slick

.slick-initialized {
  .slick-slide {
    outline: 0;
    border: 0;
  }
}

.evolution {
  margin-bottom: 50px;

  .evolution_headline {
    font-size: 42px;
    margin: 30px 0;
  }

  // left part

  .evolution_left-part {
    width: 230px;
  }

  .evolution_right-part {
    width: calc(100% - 230px);
  }

  .show-differences {
    width: 230px;
    height: 210px;
    border: 1px solid #d7d7d7;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      .show-differences_headline {
        font-size: 16px;
        color: #29282e;
        margin-bottom: 15px;
        line-height: 1.2;
      }

      .show-differences_button-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .show-differences_btn {
        font-family: 'NissanBrand-Light';
        width: 80px;
        height: 40px;
        color: #4d4d51;
        border: 1px solid #4d4d51;
        background: transparent;
        outline: 0;
        padding: 0;
        text-transform: uppercase;
        transition: .2s ease-out;
      }

      .show-differences_btn.yes {
        border-color: #c20336;
        color: #c20336;

          &:hover {
            background: #c20336;
            color: #fff;
          }

      }

      .show-differences_btn.no {

          &:hover {
            background: #4d4d51;
            color: #fff;
          }

      }

  }

  .main-settings {
    height: 55px;
    display: flex;
    align-items: center;

      .main-settings_headline {
        font-family: 'NissanBrand-Regular';
        font-size: 18px;
        color: #29282e;
      }

  }

  .main-settings_wrap {

    .main-settings_item {
      display: flex;
      align-items: center;
      background: #fff;
      height: 30px;
      margin-bottom: 2px;
      padding-left: 15px;
      color: #929292;

        &:last-child {
          margin-bottom: 0;
        }

    }

  }

  .equipment {
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;

      .equipment_headline {
        font-family: 'NissanBrand-Regular';
        font-size: 18px;
        color: #29282e;
        margin-bottom: 15px;
      }

      .equipment_sub-headline {
        font-family: 'NissanBrand-Regular';
        font-size: 14px;
        color: #29282e;
      }

  }

  .equipment_wrap {

    .equipment_item {
      display: flex;
      align-items: center;
      background: #fff;
      height: 30px;
      margin-bottom: 2px;
      padding-left: 15px;
      color: #929292;

        &:last-child {
          margin-bottom: 0;
        }

    }

  }

  .security {
    height: 40px;
    display: flex;
    align-items: center;

      .security_headline {
        font-family: 'NissanBrand-Regular';
        font-size: 14px;
        color: #29282e;
      }

  }

  .security_wrap {

    .security_item {
      display: flex;
      align-items: center;
      background: #fff;
      height: 30px;
      margin-bottom: 2px;
      padding-left: 15px;
      color: #929292;

        &:last-child {
          margin-bottom: 0;
        }

    }

  }

  .advantages {
    height: 55px;
    display: flex;
    align-items: center;

      .advantages_headline {
        font-family: 'NissanBrand-Regular';
        font-size: 18px;
        color: #29282e;
      }

  }

  .advantages_wrap {

    .advantages_item {
      display: flex;
      align-items: center;
      background: #fff;
      height: 30px;
      margin-bottom: 2px;
      padding-left: 15px;
      color: #929292;

        &:last-child {
          margin-bottom: 0;
        }

    }

  }

  .car-salon {
    height: 55px;
    display: flex;
    align-items: center;

      .car-salon_headline {
        font-family: 'NissanBrand-Regular';
        font-size: 18px;
        color: #29282e;
      }

  }

  .car-salon_wrap {

    .car-salon_item {
      display: flex;
      align-items: center;
      background: #fff;
      height: 30px;
      margin-bottom: 2px;
      padding-left: 15px;
      color: #929292;

        &:last-child {
          margin-bottom: 0;
        }

    }

  }

  .purchase-options {
    height: 78px;
    display: flex;
    align-items: center;

      .purchase-options_headline {
        font-family: 'NissanBrand-Regular';
        font-size: 18px;
        color: #29282e;
      }

  }

  // right part

  .evolution_right-part {

    .evolution_slide-wrap {
      margin-left: 10px;
    }

    .slide.slick-slide.slick-active {

        &:last-child {

          .evolution_slide-wrap {
            margin-right: 0;
          }

        }

    }

    .carousel_img-wrap {
      width: 100%;
      height: 165px;

        .carousel_car-photo {
          width: 100%;
          height: 165px;
        }

    }

    .car-description {
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      background: #fff;
      margin-bottom: 55px;

        .car-description_name {
          font-size: 18px;
          color: #29282e;
        }

        .car-description_prices-old {
          font-family: 'NissanBrand-Light';
          font-size: 12px;
          color: #29282e;
          text-decoration: line-through;
        }

        .car-description_prices-current {
          font-size: 14px;
          color: #c20336;
        }

    }

    .slide-main-settings_wrap {
      margin-bottom: 77px;

        .slide-main-settings_item {
          display: flex;
          align-items: center;
          background: #fff;
          height: 30px;
          margin-bottom: 2px;
          padding-left: 15px;
          color: #929292;

            &:last-child {
              margin-bottom: 0;
            }

        }

    }

    .slide-equipment_wrap {
      margin-bottom: 40px;

        .slide-equipment_item {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          height: 30px;
          margin-bottom: 2px;
          padding-left: 0;
          color: #929292;

            &:last-child {
              margin-bottom: 0;
            }

        }

    }

    .slide-equipment_wrap {
      margin-bottom: 40px;

        .slide-equipment_item {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          height: 30px;
          margin-bottom: 2px;
          padding-left: 0;
          color: #929292;

            &:last-child {
              margin-bottom: 0;
            }

        }

    }

    .slide-security_wrap,
    .slide-advantages_wrap,
    .slide-car-salon_wrap {
      margin-bottom: 55px;

        .slide-security_item,
        .slide-advantages_item,
        .slide-car-salon_item {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          height: 30px;
          margin-bottom: 2px;
          padding-left: 0;
          color: #929292;

            &:last-child {
              margin-bottom: 0;
            }

        }

        .slide-car-salon_item {
          justify-content: flex-start;
        }

    }

    .slide-car-salon_wrap {
      margin-bottom: 0;
    }

    .slide-buy {
      height: 78px;
      display: flex;
      align-items: center;

        .slide-buy_btn {
          font-family: 'NissanBrand-Light';
          height: 40px;
          background: none;
          outline: 0;
          padding: 0;
          border: 1px solid #29282e;
          font-size: 21px;
          color: #29282e;
          text-transform: uppercase;
          width: 100%;
          margin: 0 10px 0 0;
          transition: .2s ease-out;

            &:hover {
              background: #29282e;
              color: #fff;
            }

        }

    }

  }

}

// media queries

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .evolution {
    .evolution_headline {
      font-size: 36px;
    }
  }
}

@media (max-width: 500px) {
  .evolution {

    .evolution_headline {
      font-size: 24px;
    }

    .evolution_left-part,
    .evolution_right-part {
      width: 50%;
    }

    .evolution_right-part {

      .carousel_img-wrap {
        height: 140px;

          .carousel_car-photo {
            height: 140px;
          }

      }

    }

    .evolution_right-part {

      .car-description {
        height: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

          .car-description_name {
            margin-bottom: 6px;
          }

      }

    }

    .show-differences {
      width: auto;
      padding: 0 10px;
    }

    .main-settings_headline,
    .equipment_headline,
    .car-salon_headline {
      position: absolute;
    }

  }
}

@media (max-width: 430px) {
  .evolution {
    .show-differences {
      .show-differences_btn {
        width: 60px;
        height: 36px;
      }
    }
  }
}

@media (max-width: 380px) {
  .evolution {
    .show-differences {

      .show-differences_headline {
        font-size: 14px;
      }

      .show-differences_btn {
        width: 50px;
        height: 30px;
      }
    }
  }
}
