@import 'assets/scss/normalize.scss';

.yeap {
  background: #272929;
  display: block;
  width: 10px;
  height: 10px;
}

@font-face {
  font-family: 'NissanBrand-Bold';
  src: url('assets/fonts/NissanBrand-Bold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/NissanBrand-Bold.otf') format('opentype'),
	     url('assets/fonts/NissanBrand-Bold.woff') format('woff'),
       url('assets/fonts/NissanBrand-Bold.ttf')  format('truetype'),
       url('assets/fonts/NissanBrand-Bold.svg#NissanBrand-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NissanBrand-Light';
  src: url('assets/fonts/NissanBrand-Light.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/NissanBrand-Light.otf') format('opentype'),
	     url('assets/fonts/NissanBrand-Light.woff') format('woff'),
       url('assets/fonts/NissanBrand-Light.ttf')  format('truetype'),
       url('assets/fonts/NissanBrand-Light.svg#NissanBrand-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NissanBrand-Regular';
  src: url('assets/fonts/NissanBrand-Regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/NissanBrand-Regular.otf') format('opentype'),
	     url('assets/fonts/NissanBrand-Regular.woff') format('woff'),
       url('assets/fonts/NissanBrand-Regular.ttf')  format('truetype'),
       url('assets/fonts/NissanBrand-Regular.svg#NissanBrand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NissanBrand-Light';
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NissanBrand-Bold';
  margin: 0;
  color: #29282e;
  line-height: 1;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.padding-none {
  padding: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

.clear {
  clear: both;
}

button {
  cursor: pointer;
}

// slick

.slick-prev,
.slick-next {
  width: 44px;
  height: 44px;
  top: 80px;
  background: rgba(0, 0, 0, .5);
  transition: .2s ease-out;

    &:focus {
      background: rgba(0, 0, 0, .5);
    }

    &:hover {
      background: rgba(0, 0, 0, .7);
    }

}

.slick-prev {
  left: 10px;
  z-index: 999;
}

.slick-next {
  right: 0;
}

@media (max-width: 500px) {
  .slick-prev,
  .slick-next {
    width: 38px;
    height: 38px;
    top: 74px;

      &:before {
        font-size: 17px;
      }

  }
}
